<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="FlowerShopDb"
             connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=FlowerShopLab8;Integrated Security=True;TrustServerCertificate=True"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="DatabaseName" value="FlowerShopLab8" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>
